/*mod title*/
.cell-mod-title{
  font-weight: bolder;
  font-size: 1.8rem;
  overflow: hidden;
}
.cell-mod-title sub{
  bottom: 0;
}

/* container*/
.cell-main-container{
  position: relative;
}

/*toolbar*/
.cell-toolbar{
  display: block;
}
.cell-toolbar:after{
  display: block;
  clear: both;
  content: '';
}
.cell-toolbar-flex{
  display: flex;
  flex-wrap: wrap;
  padding: .5rem 0;
  position: sticky;
  z-index: 200;
  background-color: white;
}
.cell-toolbar-flex .cell-searchbar{
  flex: 1 1 auto;
  width: auto;
}

/*btn*/
.btn.icon.fas:before{
  margin: 0;
}

/*dialog*/
.modal-header{
  padding: .5rem;
  background-color: #fafafa;
}
.modal-body:after{
  content: '';
  clear: both;
  display: block;
}
.modal-icon{
  float: left;
  font-size: 4rem;
  margin-right: 1rem;
}
.modal-footer{
  padding: .3rem;
  border-top: none;
}
.cell-message, .cell-confirm{
  z-index: 9999 !important;
}

/*cell-dialog-list*/
.cell-min-list{
  max-height: 30vh;
  overflow: auto;
}
.cell-min-list-item{
  padding: .3rem .5rem;
  display: inline-block;
  cursor: default;
  border-radius: .3rem;
}
.cell-min-list-item:after{
  content: ',';
}
.cell-min-list-item:hover{
  background: #ffcc00;
}
.cell-min-list-item:last-child:after{
  content: '';
}

/*tab*/
.cell-tab-menu{
  position: sticky;
  z-index: 200;
  background-color: white;
  margin-bottom: .2rem;
}
.cell-tab-menu-item{
  color: #666666;
  font-weight: bolder;
  min-width: 6rem;
  height: 3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
.cell-tab-menu-item:hover{
  color: red;
  text-decoration: none;
}
.cell-tab-menu-item.selected{
  color: #0066ff;
}
.cell-tab-menu-underline{
  background: #0066ff;
  border: none;
  transition: .2s ease-in-out;
  height: .15rem;
  margin: 0;
  position: relative;
  width: 0;
}
.cell-tab{
  display: none;
}
.cell-tab.show{
  display: block;
}

/*searchbar*/
.cell-searchbar{
  width: 100%;
  position: relative;
}
.cell-searchbar:not(:first-child){
  margin-left: .25rem;
}
.cell-searchbar-form{
  display: flex;
  align-items: center;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: .375rem .4rem;
  min-width: 0;
}
.cell-searchbar.focused .cell-searchbar-form{
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}
.was-validated .cell-searchbar-form.invalid{
  border-color: #dc3545;
}
.was-validated .cell-searchbar.focused .cell-searchbar-form.invalid{
  box-shadow: 0 0 0 .2rem rgba(220,53,69,.25);
}
.was-validated .cell-searchbar-form.valid{
  border-color: #28a745;
}
.cell-searchbar.using .cell-searchbar-form{
  background-color: rgba(255, 255, 130, 0.3);
}
.cell-searchbar .fas:not(:last-child){
  margin: 0 .25rem;
}
.cell-searchbar-display-input{
  border: none;
  background-color: transparent;
  line-height: 1.5;
  flex: 1 1 auto;
  font-size: 1rem;
  padding: 0 .35rem;
  display: inline-flex;
  width: auto !important;
  min-width: 0;
}
.cell-searchbar-display-input:focus{
  outline: none;
}
.cell-searchbar .cell-searchbar-btn-empty{
  display: none;
  cursor: pointer;
  height: 100%;
  align-items: center;
  flex-basis: 1rem;
  max-width: 1rem;
}
.cell-searchbar-result{
  display: none;
  position: absolute;
  width: 100%;
  z-index: 1000;
  background-color: white;
  margin: 0;
  padding: 0;
  max-height: 30vmin;
  overflow: hidden;
  overflow-y: auto;
  border: 1px solid rgba(0,123,255,.5) ;
  cursor: pointer;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}
.cell-searchbar.focused .cell-searchbar-result{
  display: block;
}
.was-validated .invalid + .cell-searchbar-result{
  border-color: #dc3545;
}
.was-validated .valid + .cell-searchbar-result{
  border-color: #28a745;
}
.cell-searchbar-propose{
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
.cell-searchbar-propose > li{
  list-style: none;
  padding: 0.25rem .5rem;
  background-color: white;
  white-space: nowrap;
}
.cell-searchbar-propose > li:hover{
  background-color: #f7f7f7;
}
.cell-searchbar-propose > li.hover{
  background-color: #80BE00 !important;
  color: white;
}
.cell-searchbar-empty-message, .cell-searchbar-notfind-message, .cell-searchbar-loader{
  display: none;
  padding: .5rem 1rem;
  cursor: default;
  color: darkgray;
}
.cell-searchbar-loader{
  overflow: hidden;
  height: 2rem;
}
.cell-searchbar-propose .highlight{
  color: #80BE00;
}
.cell-searchbar-propose > li.hover .highlight{
  background-color: #80BE00 !important;
  color: white !important;
}


/*cell-filter*/
.cell-filter{
  display: inline-block;
  cursor: pointer;
  position: relative;
  vertical-align: top;
  background-color: transparent;
}
.cell-filter:focus{
  outline: none;
}
.cell-filter-btn{
  display: flex;
  align-items: center;
  font-weight: bolder;
  border: 2px solid transparent;
  border-radius: .25rem;
  padding: 0 0.25rem;
}
.cell-filter:focus .cell-filter-btn{
  border-color: rgba(0, 123, 255, .5);
  border-bottom-color: transparent;
  border-bottom-left-radius: .195rem;
  border-bottom-right-radius: .195rem;
  background-color: #efefef;
  background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
}
.cell-grid-toolbar .cell-filter-btn{
  height: 40px;
}
.cell-filter-label{
  display: inline-block;
}
.cell-filter-label:after{
  content: ':';
  margin-right: .2rem;
}
.cell-filter-value{
  display: inline-block;
  word-break: keep-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 10vw;
}
.cell-filter-option{
  display: none;
  background-color: rgba(255,255,255,.85);
  border: 2px solid transparent;
  max-height: 40vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.cell-filter:focus .cell-filter-option{
  display: block;
  position: absolute;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  border-color: rgba(0, 123, 255, .5);
  margin-top: -2px;
  min-width: 100%;
  max-width: 15vw;
  z-index: -1;
}
.cell-filter-item{
  text-align: center;
  line-height: 2;
  border-bottom: 1px solid #e5e5e5;
  word-break: keep-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cell-filter-item:hover{
  background-color: rgba(0, 0, 0, .8);
  color: white;
}

/* uploader */
.cell-uploader-input{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.cell-uploader-span{
  margin-left: .25rem;
}
.cell-uploader-dragover{
  position: relative;
}
.cell-uploader-dragover-message{
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.8);
  align-items: center;
  justify-content: center;
  font-size: 4vmax;
  border: 5px dashed gray;
}
.cell-uploader-dragover .cell-uploader-dragover-message{
  display: flex;
  position: absolute;
  top: 0;
  z-index: 300;
}
.cell-uploader .name{
  flex: 1 1 auto;
  flex-wrap: wrap;
}
.cell-uploader .size{
  color: #666666;
}
.cell-uploader .size:before{
  content: '(';
  margin-left: .5rem;
}
.cell-uploader .size:after{
  content: ')';
}
.cell-uploader .message{
  width: 30%;
}
.cell-uploader .message.status-0{
  color: green;
}
.cell-uploader .message.status-8, .cell-uploader .message.status-9, .cell-uploader .message.status-99{
  color: red;
}
.cell-uploader .cell-grid-toolbar, .cell-uploader .cell-grid-header{
  z-index: 0;
  position: initial;
}

/*cell-tooltip*/
.cell-tooltip{
  min-height: 3.125rem;
  height: auto;
  min-width: 200px;
  margin: 1rem 1rem 2rem!important;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: fixed!important;
  bottom: 0rem;
  left: 0rem;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
  overflow: hidden;
  outline: none;
  z-index: 9999 !important;
}
@media (min-width: 576px) {
  .cell-tooltip{
    max-width: 60%;
  }
}
@media (min-width: 768px) {
  .cell-tooltip{
    max-width: 50%;
  }
}
@media (min-width: 992px) {
  .cell-tooltip{
    max-width: 40%;
  }
}
@media (min-width: 1200px) {
  .cell-tooltip{
    max-width: 30%;
  }
}
.tooltip-icon{
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
.alert-dismissible .close{
  outline: none;
}
.cell-single-uploader-info:not(:empty){
  margin-right: 0.5rem;
}